<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search by City" name="city" [(ngModel)]="cityName">
  </form>
</div>
<!-- Begin API-driven view -->
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/day.png" alt="hot" *ngIf="weatherData.current.is_day == 1">
    <img src="../assets/night.png" alt="cold" *ngIf="weatherData.current.is_day == 0">
    <div class="weather-data">
      <div class="location">{{ weatherData.location.name }}</div>
      <div class="temperature">{{ weatherData.current.temp_f | number: '1.0-0' }}ºF </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <!-- block 1 -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.jpg" alt="min-temp">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.forecast.forecastday[0].day.mintemp_f | number: '1.0-0'}}ºF
        </div>
      </div>
      <!-- block 2 -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.jpg" alt="min-temp">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.forecast.forecastday[0].day.maxtemp_f | number: '1.0-0'}}ºF
        </div>
      </div>
      <!-- block 3 -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg" alt="min-temp">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.humidity }}%
        </div>
      </div>
      <!-- block 4 -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg" alt="min-temp">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.wind_mph }} mph
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of API-driven view -->

<!-- Begin static view -->
<div class="container" *ngIf="!weatherData">
  <div class="upper-data">
    <img src="../assets/day.png" alt="hot" *ngIf="14 <= 15">
    <img src="../assets/night.png" alt="cold" *ngIf="14 > 15">
    <div class="weather-data">
      <div class="location">San Antonio<br><span class="no-api">WX data is not current</span></div>
      <div class="temperature">{{ 74 | number: '1.0-0' }}ºF </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <!-- block 1 -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.jpg" alt="min-temp">
          <span>min</span>
        </div>
        <div class="info-block-value">
          59ºF
        </div>
      </div>
      <!-- block 2 -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.jpg" alt="min-temp">
          <span>max</span>
        </div>
        <div class="info-block-value">
          70ºF
        </div>
      </div>
      <!-- block 3 -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg" alt="min-temp">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          68%
        </div>
      </div>
      <!-- block 4 -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg" alt="min-temp">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          10.5 MPH
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of static view -->

<router-outlet></router-outlet>
